<%- include("partials/header.ejs") -%>

<center><br>
    <h4 class="display-4" style="color: #DA1C5C;">About</h4>
<hr style="width: 45%;"><br>

<div style="width: 100%; background-color: #71A1CD;">
<pre>
Hello 👋, in this website you can download games for macOS and windowsOS.
        And if you like PC games this web site is for you.       
</pre>
<p style="color: #DA1C5C;" class=".fs-4 text">Download and enjoy!!! 😜😜</p> 
</div>

<br></center>

<%- include("partials/footer.ejs") -%>