<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:90%" class="constainer">
        <div class="container">
        </div><br><br>
        <div class="container">
            <h2 class="display-2">ssvhverhuvehouhfeo</h2>
            <p class="fs-5">wertyuio</p><br><br>
            <a class="btn">Download for macOS</a>&nbsp;
            <a href="/games/havayi.zip" download class="btn">Download for windowsOS</a>
        </div>
    </div>
</body>
</html>